  <div class = "row">
      <div class = "col-lg-4">
        <h1>User info</h1>
        <p>name <%=  %></p>
        <p>introduction <%=  %></p>
        <%= link_to 'edit', edit_user_registration_path %>

        <h1>New book</h1>
          <%= form_with model: book, url: books_path, local: true do |f| %>
            <p>title</p>
            <%= f.text_field :title %>
            <p>opinion</p>
            <%= f.text_area :body %>
            <%= f.submit 'New Post', class: "btn btn-secondary" %>
          <% end %>
      </div>