<div class = "container px-5 px-sm-0">
  <%= render 'books/list', book: @new_book, user: @user %>

  <div class = "col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class = "table table-hover table-inverse">
          <thead>
              <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Opinion</th>
                  <th colspan = "2"></th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user.id) do %>
                <div><%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50'%></div>
                <div><%= @book.user.name %></div>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
                <% end %>
              </td>
              <td><%= @book.body %></td>
              <% if @user.id == current_user.id %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: 'Are You Sure?'}, class: "btn btn-danger"  %></td>
              <% end %>
            </tr>
          </tbody>
      </table>
  </div>
</div>